<h3>Meus Enxovais
    <button class="btn btn-outline-primary">Novo</button>
</h3>

<hr/>
<table class="table table-responsive">
    <thead class="bg-dark">
      <tr >
        <th class="col-md-1">#</th>
        <th class="col-md-4 text-left">Descrição</th>
        <th class="col-md-3 text-left">Donos</th>
        <th class="col-md-4 text-left">Ações</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="col-md-1">1</td>
          <td class="col-md-4 text-left">Enxoval da casa</td>
          <td class="col-md-3 text-left">Arthur e Priscyla</td>
          <td class="col-md-4 text-left">
              <button class="btn btn-outline-primary">Gerenciar</button>
              <button class="btn btn-outline-warning">Inativar</button>
              <button class="btn btn-outline-danger">Excluir</button>
          </td>
        </tr>
        <tr>
            <td class="col-md-1">2</td>
            <td class="col-md-4 text-left">Enxoval 2</td>
            <td class="col-md-3 text-left">Ele e Ela</td>
            <td class="col-md-4 text-left">
                <button class="btn btn-outline-info">Gerenciar</button>
                <button class="btn btn-outline-warning">Inativar</button>
                <button class="btn btn-outline-danger">Excluir</button>
            </td>
        </tr>        
                               
    </tbody>
  </table>
<!-- <table class="table scroll">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descrição</th>
        <th scope="col">Donos</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Enxoval da casa</td>
        <td>Arthur e Priscyla</td>
        <td>
            <button class="btn btn-outline-info">Gerenciar</button>
            <button class="btn btn-outline-warning">Inativar</button>
            <button class="btn btn-outline-danger">Excluir</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>
            <button class="btn btn-outline-info">Gerenciar</button>
            <button class="btn btn-outline-warning">Inativar</button>
            <button class="btn btn-outline-danger">Excluir</button>
        </td>
      </tr>
      <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>
              <button class="btn btn-outline-info">Gerenciar</button>
              <button class="btn btn-outline-warning">Inativar</button>
              <button class="btn btn-outline-danger">Excluir</button>
          </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
                <button class="btn btn-outline-info">Gerenciar</button>
                <button class="btn btn-outline-warning">Inativar</button>
                <button class="btn btn-outline-danger">Excluir</button>
            </td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>
                  <button class="btn btn-outline-info">Gerenciar</button>
                  <button class="btn btn-outline-warning">Inativar</button>
                  <button class="btn btn-outline-danger">Excluir</button>
              </td>
            </tr>                        
    </tbody>
  </table>
  
   -->